<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>dBase</title>
</head>

<body>
    

<h1 id="sitename">Dbase</h1> 
    <div class="container">

        <div class="it1">
            <h1 id="sitename">dBase</h1>
 

            <ul id="menu">
                <li><a href="/">{{title}}</a></li>
                <li><a href="NTP.hbs">wind triangle</a></li>
                <li><a href="LOAD.hbs">load and balance</a></li>
                
                
            </ul>
            <button type="button" name="add" id="addFieldBTN" value="">field mk</button>
            {{!-- <button type="button" name="save" id="rmFieldBTN" value="">field rm</button> --}}
            <button type="button" name="save" id="saveBTN" value="">save</button>
            <button type="button" name="load" id="loadBTN" value="">load</button>
             <button type="button" name="delete" id="delBTN" value="">delete</button>

            
        </div>

        <diV class="it5">
          

        </diV>
        {{!-- <button type="button" name="f" id="f" value="false">f</button> --}}

        

        <div class="it3">
            

            {{!-- <td>   <p class="dsc2"><select name="list" size="1" id="list" class="select" size="6" maxlength="6">  
            </select><input type="text" name="cat" id="cat" class="wdw5" size="10" maxlength="10" /></p>--}}

                  
            
           

        </div>
        <div class="it4">
            <p></p>
        </div>
        {{!-- <div class="item5"> </div> --}}
    </div>
    <script type="module" src="/js/dBase.js"></script>
</body>

</html>










